#publish{
  border-radius: 25px;
  font-size: 18px;
  color: #3c9851;
}

#publish:hover{
  background-color: #3c9851;
}

/*Le bouton "Publier"*/
#top > form > article > button{
  width: 100%;
}

/*Aide à la navigation sur la page*/

#Navigation {
  display: block;
  position: fixed;
  bottom: 1;
  margin-bottom: 20px;
}

 #anchor{
   background-color: #ae9473;
   padding-right: 125px;
   padding-left: 15px;
   margin: 7px;
   border-radius: 10px;
 }

 /*Les sub-reddits*/

#sub{
  background-color: #ae9473;
  padding: 7px 14px 7px 14px;
  margin: 7px;
  border-radius: 10px;
}

#menu-illustration{
  width: 90%;
  display: block;
  margin-bottom: 4px;
  margin-left: auto;
  margin-right: auto;
  z-index: -1
}
