#left > div {
  background-color: #b4bed8;
  border-radius: 10px;
}

#Navigation{
  position: fixed;
  float: right;
  display: block;
  margin-top: -32px;
  margin-left: 40px;
}

 #anchor{
   background-color: #ae9473;
   padding-right: 125px;
   padding-left: 15px;
   border-radius: 10px;
 }
